@import './default';

.wrapper {
  height: 100vh;
  margin: 0;
  padding: 50px 50px;
  box-sizing: border-box;

  .studio {
    position: relative;
    height: 100%;
    border: 3px solid #000;
    padding: 0 20px;

    &__side-text {
      position: absolute;
      font-weight: 900;

      &--top {
        top : -35px;
        left: 42%;
      }
      &--right {
        top: 45%;
        right: -60px;
        rotate: 90deg;
      }
      &--bottom {
        left: 48%;
        bottom: -37px;
      }
      &--left {
        top: 45%;
        left: -60px;
        rotate: -90deg;
      }
    }

    &__header {
      &__item {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #000;
        padding: 8px 0;
        font-size: 24px;
        font-weight: 800;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    &__filter {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;

      span {
        font-weight: 800;
      }

      &__type {
        display: flex;

        &__item {
          color: #a19f9f;
          font-weight: 800;

          &--slash {
            margin: 0 10px;
          }

          &--selected {
            color: #000;
          }
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      max-height: calc(100% - 237px);
      overflow-y: scroll;
    }

    &__item {
      width: 304px;
      height: 290px;
      margin-right: 20px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &__img {
        width: 100%;
        height: 220px;
        margin-bottom: 5px;
      }

      &__description {
        font-weight: 700;
      }
    }
  }
}